python-dateutil==2.8.1
docopt==0.6.2
packaging
psutil==5.7.0
pytest==5.4.2
pytest-cov==2.8.1
pytest-mock==3.1.0
pytest-mypy==0.6.2
requests==2.23.0
responses==0.10.14
schema==0.7.2
tabulate==0.8.7
virtualenvwrapper==4.8.4
